<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="user/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3" th:if="${contactsList}">
			<div class="card-body">

				<h1 class="text-center">View Contacts</h1>
				
				<div class="search-container my-3">
					<input onkeyup="search()" type="text" class="form-control" id="search-input" />
					
					<div class="search-result">
					</div>
				</div>

				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="thead-light">
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c : ${contactsList}">
								<th scope="row" th:text="${'CON-'+c.cId}">1
								<td><img class="contact_profile_pic" alt="profile" src=""
									th:src="@{'/img/'+${c.profileImage}}"> <span
									th:text="${c.firstName}"></span></td>
								<td><a href="#"
									th:href="@{'/user/'+ ${c.cId} + '/contact'}"> <span
										th:text="${c.email}"></span>
								</a></td>
								<td th:text="${c.phone}"></td>
								<td>
									<button class="btn btn-danger btn-sm"
										th:onclick="|deleteContact(${c.cId})|">Delete</button>
									<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
									 	<button class= "btn btn-primary btn-sm">Update</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- Pagination for contacts -->

					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item" th:if="${currentPage != 0}"><a
								class="page-link" href="#"
								th:href="@{'/user/show_contacts/'+${currentPage-1}}">Previous</a>
							</li>

							<li class="page-item"
								th:classappend="${currentPage==i-1?'active':''}"
								th:each="i : ${#numbers.sequence(1, totalPages)}"><a
								class="page-link" th:href="@{'/user/show_contacts/'+${i-1}}"
								href="#"> <span th:text="${i}"></span>
							</a></li>

							<li class="page-item" th:if="${currentPage+1 != totalPages}">
								<a class="page-link" href="#"
								th:href="@{'/user/show_contacts/'+${currentPage+1}}">Next</a>
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
		<div class="frame" th:unless="${contactsList}">
			<div class="mod">
				<img src="http://100dayscss.com/codepen/alert.png" width="44" height="38" />
		<span class="title">Oops!</span>
		<p>No contacts added yet!</p>
		<div class="button">OK</div>
			</div>
		</div>
		
		<script>
			$(document).ready(() => {
	            $(".item").removeClass("active");
	            $("#view-contact-link").addClass("active");
	        });
		</script>
	</section>

</body>
</html>