body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 92.63vh;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
		url("../img/banner.jpg");
	background-size: cover;
}

.my-card {
	padding: 20px;
	background: #FFFFFF;
}

.contact_profile_pic {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 1px solid black;
}

.active {
	background: #009688 !important;
	color: white !important; 
}

/* Login Page Style */
#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 420px;
	border: 1px solid #9C9C9C;
	border-radius: 1rem;
	background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: -85px;
}

/* Side Navbar*/
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		height: 100vh;
		background: white;
		position: fixed;
		padding-top: 20px;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	height: 100%;
	background: white;
	position: fixed;
	padding-top: 45px;
	z-index: 99;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar a i {
	margin-right: 5px;
}

.sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}

.content {
	margin-left: 20%;
}

.sidebar .crossBtn {
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 36px;
	cursor: pointer;
}

/* Error Message */
.frame {
  width: 400px;
  height: 400px;
  border-radius: 2px;
	overflow: hidden;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mod {
  position: absolute;
	width: 280px;
	height: 210px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 4px 8px 12px 0 rgba(0,0,0,0.4);
	text-align: center;
	overflow: hidden;
	animation: show-modal .7s ease-in-out;
	
	&.hide {
		animation: hide-modal .6s ease-in-out both;
	}
	
	img {
		margin-top: 24px;
	}
	
	.title {
		display: block;
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		margin: 14px 0 5px 0;
	}
	
	p {
		font-size: 14px;
		font-weight: 300;
		line-height: 19px;
		margin: 0;
		padding: 0 30px;
	}
	
	.button {
		position: absolute;
		height: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		background: #F65656;
		color: #fff;
		line-height: 40px;
		font-size: 14px;
		font-weight: 400;
		cursor: pointer;
		transition: background .3s ease-in-out;
		
		&:hover {
			background: #EC3434;
		}
		
	}
	
}

@keyframes show-modal {
	0% {
		transform: scale(0);
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(.95);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes hide-modal {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0);
	}
}

/* serach-css */
.search-container {
	position: relative;
}

.search-result {
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;	
}

